@media (max-width: 768px) {
  .main-section {
    padding: 0;
  }

  .container {
    margin-top: -100px;
    gap: 35px;
    height: auto;
    justify-content: flex-start;
  }

  .navigation-auto div {
    border: 3px solid var(--secondary-color);
    padding: 3px;
  }

  .navigation-auto {
    margin-top: 210px;
  }

  .navigation-auto div {
    border: 3px solid var(--secondary-color);
    padding: 5px;
  }

  .manual-btn:not(:last-child) {
    margin-right: 30px;
  }

  .categories-box {
    flex-direction: column;
    gap: 10px;
  }

  .categories-itens .img-itens {
    width: 200px;
  }

  .categories-itens .btn-itens {
    position: absolute;
    top: 160px;
    right: 25px;
    width: 150px;
    height: 20px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .menu-nav {
    display: none;
  }

  .header {
    display: flex;
    position: relative;
  }

  .header .navbar {
    padding: 0;
  }

  .main-section {
    align-items: flex-start;
    padding: 30px 0 0;
  }

  .navigation-auto div {
    border: 2px solid var(--secondary-color);
    padding: 3px;
  }

  .navigation-auto {
    margin-top: 120px;
  }

  .navigation-auto div:not(:last-child) {
    margin-right: 15px;
  }

  .manual-btn {
    border: 2px solid var(--primary-color);
    padding: 3px;
  }

  .manual-btn:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 375px) {
  .navigation-auto {
    margin-top: 108px;
  }
}

@media (max-width: 320px) {
  .navigation-auto {
    margin-top: 93px;
  }
}
