@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}

.main {
  max-width: 1440px;
  height: 100vh;
}

.header {
  width: 100vw;
  background-color: var(--background-color);
  padding: 5px 40px;
  box-shadow: 0 2px #ccc;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 30px;
}

.social-media a .fa-brands {
  font-size: 24px;
  color: var(--primary-color);
  transition: 0.3s ease-in;
}

.social-media a .fa-brands:hover {
  scale: 1.2;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.logo img {
  width: 80px;
}

.menu-nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-link {
  color: var(--primary-color);
  font-weight: 600;
  padding: 5px 10px;
  transition: 0.5s ease;
}

.nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.nav-link.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.main-section {
  width: 100vw;
  height: 100vh;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.container{
  width: 100%;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.main-section .slider {
  width: 100%;
  height: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 100px;
}

.slider .slides {
  width: 400%;
  height: auto;
  display: flex;
  align-items: center;
}

.slides input {
  display: none;
}

.slides .slide {
  width: 25%;
  height: auto;
  position: relative;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 3px solid var(--primary-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 30px;
}

.manual-btn:hover {
  background-color: var(--dark-color);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 3px solid var(--secondary-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 358px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--secondary-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--secondary-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--secondary-color);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--secondary-color);
}

.categories {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories .categories-title{
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--dark-color);
}

.categories .categories-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-box .categories-itens{
  position: relative;
}

.categories-itens .img-itens{
  width: 300px;
}

.categories-itens .btn-itens{
  position: absolute;
  top: 250px;
  right: 50px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #222;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

/* ------------------SERVICE------------ */

.service-section {
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  /* background-color: var(--secondary-color); */
}
/* ------------------SERVICE------------ */

/* ------------------CONTACT------------ */

.contact-section {
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}
/* ------------------CONTACT------------ */

.footer {
  background-color: var(--background-color);
  width: 100%;
  height: 200px;
  border-top: 2px solid #ccc;
}
